body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(back2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav{
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0 30px 0 0;
}

.meu a{
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
  width: 26px;
  float: right;
}
#toggle{
  position: sticky;
  z-index: 100;
  display: none;
}

div.EmptySpace{
    padding: 20px;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
}

#profile-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#description{
    text-decoration: none;
    padding-left: 40px;
    padding-top: 20px;
    color: black;
    height: 160px;
}

.tile{
    box-sizing:border-box;
    width: 300px;
    height: 300px;
    flex: 1;
    margin: 0 auto;
}

#connect {
  display: block;
  width: 200px;
  height: 85px;
  background: #606060;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  border-radius: 20px;
  margin: 10px auto;
  color: white;
  text-decoration: none;
  padding-top: 7px;
}

#connect:hover{
  background: black;
}

#description2{
  text-align: center;
}

input {
  width: 300px;
  height: 25px;
}
#message{
  width: 200px;
  height: 100px;
}

.footer{
  background: #999999;
  height: 150px;
}

.footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 5px solid cyan;
}

.footer-container{
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

li{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
}
.footer{
  bottom:0;
}
.textfield-containter{
  border: 5px solid red;
}
@media only screen and (max-width: 500px){
  label{
    position: relative;
    z-index: 100;
    display:block;
    cursor: pointer;
  }
  .menu{
    position: relative;
    z-index: 99;
    text-align: center;
    background: #999999;
    width: 100%;
    display: none;
  }
  .menu a{
    position: relative;
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    z-index: 99;
  }
  #toggle:checked + .menu{
    display: block;
  }
}
/* displayed on on desktop view */
@media only screen and (min-width: 500px){
  .container, .footer-container{
    display: flex;
  }
  .footer{
    height: 50px;
  }
  div.EmptySpace{
      padding: 50px;
  }
  #description{
      padding-top: 40px;
      padding-left: 40px;
      color: black;
  }
}
