body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(back2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
}

#menu-icon{
  background: url(menu-icon.png);
  display: hidden;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 640px){
  menu
}
li a {
    display: block;
    color: black;
    text-decoration: none;
    align-items: ce
}

li:hover{
    background-color: #555;
    color: white;
}

.flex-container{
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

div.EmptySpace{
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

#profile-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#description{
    text-decoration: none;
    padding-left: 40px;
    color: black;
    height: 160px;
}

.tile{
    box-sizing:border-box;
    width: 300px;
    height: 300px;
    flex: 1;
    margin: 0 auto;
}

#connect {
  display: block;
  width: 400px;
  height: 50px;
  background: #606060;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  border-radius: 20px;
  margin: 10px auto;
  color: white;
  text-decoration: none;
}

#connect:hover{
  background: black;
}

#description2{
  text-align: center;
}

input {
  width: 300px;
  height: 25px;
}
#message{
  width: 400px;
  height: 100px;
}

.footer{
  background: #999999;
  height: 150px;
}

.footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 5px solid cyan;
}

.footer-container{
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

li{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  color: white;
}
.footer{
  width: 100%;
  bottom:0;
}

/* displayed on on desktop view */
@media only screen and (min-width: 500px){
  .container, .footer-container, .flex-container{
    display: flex;
  }
  .footer{
    height: 50px;
  }
  div.EmptySpace{
      padding: 50px;
  }
  #description{
      padding-top: 40px;
      padding-left: 40px;
      color: black;
  }
}
